---
import DefaultLayout from '@/layouts/default/index.astro';

import ClosingConnectCta from '@/components/astro/closing-connect-cta/index.astro';
import BreadcrumbJsonLdSchema from '@/components/astro/json-lds/breadcrumb.astro';
import RecreatesListing from '@/components/astro/recreates/listing/index.astro';
import SectionHead from '@/components/astro/section-head/index.astro';
import SeoMeta from '@/components/astro/seo-meta/index.astro';
import { BackAction } from '@/components/react/back-action';

import { getUriFromSlug } from '@/lib/url';
---

<DefaultLayout>
	<SeoMeta
		slot="head"
		title="Recreates | Abhushan Adhikari Joshi"
		description="Explore Abhushan's Recreates Portfolio - Showcasing expertise in Frontend Development"
		ogImage="/open-graph/recreates/root-og.webp"
		ogImageAlt="Recreates by Abhushan Adhikari Joshi"
	/>

	<BreadcrumbJsonLdSchema
		slot="breadcrumb-ld"
		breadcrumbTrial={[
			{
				name: 'Recreates',
				uri: getUriFromSlug('recreates')
			}
		]}
	/>

	<main>
		<BackAction href={getUriFromSlug()} title="back to home">back to home</BackAction>
		<article class="mt-2 w-full">
			<section class="mb-8">
				<h1 class="mb-4 text-3xl md:text-4xl">recreates</h1>

				<p class="mb-6">
					Welcome to my digital creative space, where I recreate some really popular and viral ideas that grabbed my
					attention due to their expected complexity or sheer love of creating something totally outside my comfort zone
					and learning new techniques along the way.
				</p>

				<p class="mb-6">
					Recreates is not just a space for code; it's a collection of new learnings, joyous moments of falling in love
					with the art of Frontend even more; one new idea at a time.
				</p>

				<ClosingConnectCta />
			</section>

			<!-- Latest recreates -->
			<section class="mb-8">
				<SectionHead title="latest recreates" />
				<RecreatesListing />
			</section>
		</article>
	</main>
</DefaultLayout>
