---
import DefaultLayout from '@/layouts/default/index.astro';

import ClosingConnectCta from '@/components/astro/closing-connect-cta/index.astro';
import BreadcrumbJsonLdSchema from '@/components/astro/json-lds/breadcrumb.astro';
import SectionHead from '@/components/astro/section-head/index.astro';
import SeoMeta from '@/components/astro/seo-meta/index.astro';
import RecreatesWrapper from '@/components/react/recreates/demo-wrapper';

import { getUriFromSlug } from '@/lib/url';
---

<DefaultLayout>
	<SeoMeta
		slot="head"
		title="Path Finder Visualizer | Recreates"
		description="Explore Abhushan's Recreates Portfolio - Showcasing expertise in Web Development"
		ogImage="/open-graph/root.png"
		ogImageAlt="Recreates by Abhushan Adhikari Joshi"
	/>

	<BreadcrumbJsonLdSchema
		slot="breadcrumb-ld"
		breadcrumbTrial={[
			{
				name: 'Recreates',
				uri: getUriFromSlug('recreates')
			},
			{
				name: 'Path Finder Visualizer',
				uri: getUriFromSlug('recreates/path-finder-visualizer')
			}
		]}
	/>

	<main>
		<article class="w-full">
			<h1 class="mb-6 mt-2 text-2xl md:text-4xl">Path Finder Visualizer</h1>

			<section class="mb-8">
				<RecreatesWrapper>This is recreates</RecreatesWrapper>
			</section>

			<!-- Planning to add in future -->
			<section class="mb-8">
				<SectionHead title="Future improvements planned" />
			</section>

			<!-- Reach out listing -->
			<section class="mb-8">
				<ClosingConnectCta />
			</section>
		</article>
	</main>
</DefaultLayout>
