---
import DefaultLayout from '@/layouts/default/index.astro';

import ClosingConnectCta from '@/components/astro/closing-connect-cta/index.astro';
import BreadcrumbJsonLdSchema from '@/components/astro/json-lds/breadcrumb.astro';
import SectionHead from '@/components/astro/section-head/index.astro';
import SeoMeta from '@/components/astro/seo-meta/index.astro';
import { BackAction } from '@/components/react/back-action';
import RecreatesWrapper from '@/components/react/recreates/demo-wrapper';
import PathFinder from '@/components/react/recreates/path-finder-visualizer';

import { getUriFromSlug } from '@/lib/url';
---

<DefaultLayout>
	<SeoMeta
		slot="head"
		title="Path Finder Visualizer | Recreates"
		description="Explore Abhushan's recreation of the path finder algorithm visualizer. Showcasing expertise in Frontend Development"
		ogImage="/open-graph/recreates/path-finder-algorithm-recreates.webp"
		ogImageAlt="Path Finder Visualizer Recreates by Abhushan Adhikari Joshi"
	/>

	<BreadcrumbJsonLdSchema
		slot="breadcrumb-ld"
		breadcrumbTrial={[
			{
				name: 'Recreates',
				uri: getUriFromSlug('recreates')
			},
			{
				name: 'Path Finder Visualizer',
				uri: getUriFromSlug('recreates/path-finder-visualizer')
			}
		]}
	/>

	<main>
		<BackAction href={getUriFromSlug('recreates')} title="back to recreates">back to recreates</BackAction>

		<article class="w-full">
			<h1 class="mb-6 mt-2 text-2xl md:text-4xl">Path Finder Visualizer</h1>

			<section class="mb-8">
				<RecreatesWrapper>
					<PathFinder client:load />
				</RecreatesWrapper>
			</section>

			<!-- Planning to add in future -->
			<section class="mb-8">
				<SectionHead title="Future improvements planned 💡" />
				<ul class="flex list-inside list-disc flex-col gap-2 pl-4">
					<li class="line-through">Generate a random maze.</li>
					<li>Depth First Search Visualizer.</li>
					<li>Backtrack and highlight path.</li>
					<li>Custom target and source nodes.</li>
					<li>Selection presets for different mazes.</li>
				</ul>
			</section>

			<!-- Reach out listing -->
			<section class="mb-8">
				<ClosingConnectCta />
			</section>
		</article>
	</main>
</DefaultLayout>
@/components/react/back-action
