---
import DefaultLayout from '@/layouts/default/index.astro';

import ClosingConnectCta from '@/components/astro/closing-connect-cta/index.astro';
import BreadcrumbJsonLdSchema from '@/components/astro/json-lds/breadcrumb.astro';
import SectionHead from '@/components/astro/section-head/index.astro';
import SeoMeta from '@/components/astro/seo-meta/index.astro';
import { BackAction } from '@/components/react/back-action';
import RecreatesWrapper from '@/components/react/recreates/demo-wrapper';
import PausableProgress from '@/components/react/recreates/pausable-progress-bars';

import { getUriFromSlug } from '@/lib/url';
---

<DefaultLayout>
	<SeoMeta
		slot="head"
		title="Pausable Progress Bars | Recreates by Abhushan"
		description="Explore Abhushan's recreation of the pausable progress bars with concurrency, showcasing expertise in Frontend Development"
		ogImage="/open-graph/recreates/pausable-progress-bars-recreates.webp"
		ogImageAlt="Pausable Progress Bars recreates by Abhushan Adhikari Joshi"
	/>

	<BreadcrumbJsonLdSchema
		slot="breadcrumb-ld"
		breadcrumbTrial={[
			{
				name: 'Recreates',
				uri: getUriFromSlug('recreates')
			},
			{
				name: 'Pausable Progress Bars',
				uri: getUriFromSlug('recreates/pausable-progress-bars')
			}
		]}
	/>

	<main>
		<BackAction href={getUriFromSlug('recreates')} title="back to recreates">back to recreates</BackAction>

		<article class="w-full">
			<h1 class="mb-6 mt-2 text-2xl md:text-4xl">Pausable Progress Bars</h1>

			<section class="mb-8">
				<RecreatesWrapper>
					<PausableProgress client:load />
				</RecreatesWrapper>
			</section>

			<!-- Planning to add in future -->
			<section class="mb-8">
				<SectionHead title="Future improvements planned 💡" />
				<ul class="flex list-inside list-disc flex-col gap-2 pl-4">
					<li class="line-through">Start/Stop progress.</li>
					<li class="line-through">Maximum concurrent bars.</li>
					<li>Configure concurrency value.</li>
					<li>Configure duration for transition.</li>
				</ul>
			</section>

			<!-- Reach out listing -->
			<section class="mb-8">
				<ClosingConnectCta />
			</section>
		</article>
	</main>
</DefaultLayout>
