---
import { ExternalLink } from '@/components/react/link/external.tsx';

const reachMeSocials = [
	{
		name: 'github',
		link: 'https://github.com/abhushanaj',
		title: 'Connect with Abhushan on Github'
	},
	{
		name: 'twitter',
		link: 'https://twitter.com/abhushanaj',
		title: 'Connect with Abhushan on X (Formerly Twitter)'
	},
	{
		name: 'linkedin',
		link: 'https://www.linkedin.com/in/abhushanaj/',
		title: 'Connect with Abhushan on LinkedIn'
	}
];
---

<nav data-name="reach-out-listings">
	<ul class="flex w-fit gap-4">
		{
			reachMeSocials.map((social) => (
				<li class="text-text-neutral-lc">
					<ExternalLink href={social.link} title={social.title}>
						{social.name}
					</ExternalLink>
				</li>
			))
		}
	</ul>
</nav>
