---
const reachMeSocials = [
	{
		name: 'github',
		link: 'https://github.com/abhu-A-J',
		title: 'Connect with Abhushan on Github'
	},
	{
		name: 'twitter',
		link: 'https://twitter.com/abhushanaj',
		title: 'Connect with Abhushan on X (Formerly Twitter)'
	},
	{
		name: 'linkedin',
		link: 'https://www.linkedin.com/in/abhushanaj/',
		title: 'Connect with Abhushan on LinkedIn'
	}
];
---

<nav data-name="reach-out-listings">
	<ul class="flex w-fit gap-4">
		{
			reachMeSocials.map((social) => (
				<li class="text-text-neutral-lc">
					<a
						href={social.link}
						title={social.title}
						class="text-inherit inline-flex items-center gap-1 rounded-sm underline decoration-ui-seperator-neutral-lc underline-offset-4 hover:text-text-neutral-hc focus-visible:ring-2 focus-visible:ring-ui-neutral-focus-ring focus-visible:ring-offset-2"
					>
						<svg
							class="stroke-current  h-[1em] w-[1em]"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
						>
							<path
								class="stroke-current"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M7 17L17 7M17 7H8M17 7V16"
							/>
						</svg>
						<span class="text-inherit">{social.name}</span>
					</a>
				</li>
			))
		}
	</ul>
</nav>
