---
import { getCollection, getEntry } from 'astro:content';

import type { GetStaticPaths } from 'astro';

import DefaultLayout from '@/layouts/default/index.astro';

import BlogHeader from '@/components/astro/blog/blog-header/index.astro';
import InProgressBanner from '@/components/astro/blog/in-progress-banner/index.astro';
import TocAsideNav from '@/components/astro/blog/toc-aside-nav/index.astro';
import SeoMeta from '@/components/astro/seo-meta/index.astro';
import { BlogBackAction } from '@/components/react/blog/back-action';
import { components } from '@/components/react/blog/content-blocks';

import { getParentSeriesSlug, getSlugDepth, getUriFromCollectionAndSlug } from '@/lib/url';

export const getStaticPaths = (async () => {
	const allBlogs = await getCollection('blog');

	return allBlogs.map((blog) => ({
		params: {
			slug: blog.slug
		}
	}));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;

const blog = await getEntry('blog', slug);

const {
	data: { seoMetaData, title, publishedDate, inProgress },
	render
} = blog;

const { Content, headings } = await render();
const showToc = headings.length > 0;

const isPartOfSeries = getSlugDepth(slug) > 1;
const seriesParentSlug = getParentSeriesSlug(slug);
---

<DefaultLayout>
	<SeoMeta slot="head" {...seoMetaData} />
	<main class="relative">
		<div class="gap-10 xl:grid xl:grid-cols-[var(--primary-content-width)_1fr]">
			<article class="xl:max-w-unset w-full max-w-[var(--primary-content-width)] pb-12">
				<!-- Back Action -->
				<BlogBackAction
					href={getUriFromCollectionAndSlug({
						collection: 'blog',
						slug: isPartOfSeries ? seriesParentSlug : undefined
					})}
					title={isPartOfSeries ? 'back to series' : 'back to blogs'}
					>{isPartOfSeries ? 'back to series' : 'back to blogs'}</BlogBackAction
				>
				<!-- Blog Header -->
				<BlogHeader title={title} publishedDate={publishedDate} views={0} />

				<!-- In Progress Banner -->
				{
					inProgress && (
						<div class="mb-4">
							<InProgressBanner />
						</div>
					)
				}
				<!-- Blog Content -->
				<Content components={components} />
			</article>

			{
				showToc && (
					<aside class="hidden xl:block">
						<div class="sticky top-[var(--page-blur-segment-height)] w-[var(--aside-toc-content)]">
							<h4 class="text-md mb-4">On this page</h4>
							<TocAsideNav tocContents={headings} />
						</div>
					</aside>
				)
			}
		</div>
	</main>

	<style>
		:root {
			--aside-toc-size: 25ch;
			--aside-nav-space-left: 0.8em;
		}

		@screen xl {
			:root {
				--page-content-width: 62.8rem;
			}
		}

		.expressive-code {
			margin-bottom: 4rem;
		}
	</style>
</DefaultLayout>
