---
import DefaultLayout from '@/layouts/default/index.astro';

import SeoMeta from '@/components/astro/seo-meta/index.astro';
---

<DefaultLayout>
	<SeoMeta
		slot="head"
		title="Blog Title "
		description="Blog Excerpt or description to be added"
		ogImage=""
		ogImageAlt=""
		path="/blog-path-todo"
	/>
	<h1>Blog Details Page</h1>
</DefaultLayout>
