---
import type { GetStaticPaths } from 'astro';

import DefaultLayout from '@/layouts/default/index.astro';

import BlogHeader from '@/components/astro/blog/blog-header/index.astro';
import SeoMeta from '@/components/astro/seo-meta/index.astro';

export const getStaticPaths = (() => {
	return [
		{
			params: {
				slug: 'test'
			}
		}
	];
}) satisfies GetStaticPaths;
---

<DefaultLayout>
	<SeoMeta
		slot="head"
		title="Blog Title "
		description="Blog Excerpt or description to be added"
		ogImage=""
		ogImageAlt=""
		path="/blog-path-todo"
	/>
	<main class="flex w-full md:grid md:grid-cols-[1fr_var(--primary-content-width)_1fr]">
		<article class="mb-8 md:col-start-2 md:col-end-3">
			<BlogHeader title="Understanding Executin Context" publishedDate={new Date()} views={20_200} />
		</article>
	</main>
</DefaultLayout>

<style>
	:root {
		--page-top: 40px;
	}
</style>
