---
import DefaultLayout from '@/layouts/default/index.astro';

import BlogListing from '@/components/astro/blog/blog-listing/index.astro';
import Breadcrumb from '@/components/astro/json-lds/breadcrumb.astro';
import SeoMeta from '@/components/astro/seo-meta/index.astro';
---

<DefaultLayout>
	<SeoMeta
		slot="head"
		title="Blog | Abhushan Adhikari Joshi"
		description="Explore Abhushan's Blog - Showcasing expertise in Frontend Engineering"
		ogImage=""
		ogImageAlt=""
	/>

	<Breadcrumb
		slot="breadcrumb-ld"
		breadcrumbTrial={[
			{
				name: 'Blog',
				uri: '/blog/'
			}
		]}
	/>

	<main>
		<article class="w-full">
			<section class="mb-8">
				<h1 class="mb-4 text-3xl md:text-4xl">blog</h1>

				<p class="mb-6">
					Welcome to my digital space where I share insights, tips, and discoveries in the dynamic realm of frontend
					engineering and web development.
				</p>

				<p class="mb-6">
					This blog is not just a space for code; it's a platform where I document my learning adventures, share my
					thoughts on cutting-edge technologies, and sprinkle in some valuable tips and tricks I've picked up along the
					way.
				</p>
			</section>

			<!-- Latest Blog Series Listing -->
			<section class="mb-8">
				<BlogListing type="series" heading="latest series" />
			</section>

			<!-- Latest Blogs Listing -->
			<section class="mb-8">
				<BlogListing type="standalone" heading="latest blogs" />
			</section>
		</article>
	</main>
</DefaultLayout>
