---
import DefaultLayout from '@/layouts/default/index.astro';

import SeoMeta from '@/components/astro/seo-meta/index.astro';
---

<DefaultLayout>
	<SeoMeta
		slot="head"
		title="Blog | Abhushan Adhikari Joshi"
		description="Explore Abhushan's Blog - Showcasing expertise in Frontend Engineering"
		ogImage=""
		ogImageAlt=""
		path="/blog"
	/>
	<h1>Blog Index page</h1>
</DefaultLayout>
