---
import { getCollection } from 'astro:content';

import type { CollectionEntry } from 'astro:content';
import type { ComponentProps } from 'react';

import { getUriFromCollectionAndSlug } from '@/lib/url';

import Listing from './listing.astro';

type Props = {
	type: CollectionEntry<'blog'>['data']['type'];
	heading: string;
};

const { type, heading } = Astro.props;

const listingByType = await getCollection('blog', (entry) => entry.data.type === type);

const listingDetails = listingByType.map((blog) => ({
	title: blog.data.title,
	publishedDate: blog.data.publishedDate,
	uri: getUriFromCollectionAndSlug({ collection: blog.collection, slug: blog.slug })
})) satisfies ComponentProps<typeof Listing>['listings'];
---

{
	listingByType.length > 0 ? (
		<>
			<h2 class="mb-4 text-2xl">{heading}</h2>
			<Listing listings={listingDetails} />
		</>
	) : null
}
