---
import { InfoIcon } from 'lucide-react';
---

<div
	class="overflow-hidden rounded-sm border-l-4 border-ui-info-border bg-ui-info-bg p-3 text-text-info-lc selection:bg-ui-info-active-bg selection:text-text-info-hc"
>
	<InfoIcon className="h-[24px] w-[24px]" />
	<p class="mt-2">
		<em class="font-medium">Notice:</em>
		<i>
			This blog series is still in progress. I sometimes publish some content early in case someone finds it useful.
			Feel free to reach and suggest any new additions or changes.</i
		>
	</p>
</div>
