---
import { InternalLink } from '@/components/react/link/internal';

import { getUriFromSlug } from '@/lib/url';

const projectsList = [
	{
		name: '@abhushanaj/react-hooks',
		href: 'https://react-hooks.abhushan.dev/',
		description:
			'A collection of modern and server-safe custom React hooks to supercharge your React application development.'
	},
	{
		name: '@abhushanaj/recreates',
		href: getUriFromSlug('recreates'),
		description: 'Recreating the most viral and popular projects to learn something new.'
	}
];
---

<ul class="flex flex-col gap-5">
	{
		projectsList.map((project) => (
			<li>
				<InternalLink href={project.href} target="_blank" title="View the series" variant="highContrast">
					{project.name}
				</InternalLink>
				<p class="mt-1 flex flex-wrap items-center gap-2 text-base">{project.description}</p>
			</li>
		))
	}
</ul>
