---
import { InternalLink } from '@/components/react/link/internal';

const projectsList = [
	{
		name: '@abhushanaj/react-hooks',
		href: 'https://react-hooks.abhushan.dev/',
		description:
			'A collection of modern and server-safe custom React hooks to supercharge your React application development.'
	}
];
---

<h2 class="mb-4 text-2xl">latest works</h2>

<ul class="flex flex-col gap-5">
	{
		projectsList.map((project) => (
			<li>
				<InternalLink href={project.href} target="_blank" title="View the series" variant="highContrast">
					{project.name}
				</InternalLink>
				<p class="mt-1 flex flex-wrap items-center gap-2 text-base">{project.description}</p>
			</li>
		))
	}
</ul>
