---
import SeoMeta from '@/components/astro/seo-meta/index.astro';
import DefaultLayout from '@/layouts/default/index.astro';
---

<DefaultLayout>
	<SeoMeta title="Home Page" description="Test description" ogImage="" path="/" ogImageAlt="" slot="head" />
	<main>
		<h2>Hello World</h2>
	</main>
</DefaultLayout>
