---
import Message from '@/components/react/message.tsx';
import SeoMeta from '@/components/astro/seo-meta/index.astro';
---

<SeoMeta title="Home Page" description="Test description" ogImage="" path="/" ogImageAlt="" />
<main>
	<Message />
</main>
