---
import { getCollection } from 'astro:content';

import { InternalLink } from '@/components/react/link/internal';

import { formatPublishedDate } from '@/lib/date-time';
import { getUriFromCollectionAndSlug } from '@/lib/url';

const allRecreates = await getCollection('recreates');
const sortedRecreates = allRecreates.sort((a, b) => {
	const dateA = new Date(a.data.publishedDate);
	const dateB = new Date(b.data.publishedDate);
	return dateA.getTime() - dateB.getTime();
});
---

<ul class="flex flex-col gap-5">
	{
		sortedRecreates.map((recreatesEntry) => (
			<li>
				<InternalLink
					href={getUriFromCollectionAndSlug({
						collection: recreatesEntry.collection,
						slug: recreatesEntry.slug
					})}
					title={`View the recreation of ${recreatesEntry.data.title}`}
					variant="highContrast"
				>
					{recreatesEntry.data.title}
				</InternalLink>
				<p class="mt-1 flex flex-wrap items-center gap-2 text-sm">
					<time datetime={new Date(recreatesEntry.data.publishedDate).toISOString()}>
						{formatPublishedDate(new Date(recreatesEntry.data.publishedDate))}
					</time>
				</p>
			</li>
		))
	}
</ul>
