---
import ReachOutListing from '@/components/astro/reach-out-listing/index.astro';
---

<p class="mb-10">
	If you're looking to collaborate, learn, or share your insights, feel free to connect with me. Let's explore the
	ever-evolving world of web development together.
</p>
<ReachOutListing />
