---
import { ArrowLeft } from 'lucide-react';

import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
	title: string;
};

const { children, href, title, ...otherProps } = Astro.props;
---

<a
	href={href}
	title={title}
	class="text-inherit inline-flex items-center gap-1 rounded-sm underline decoration-ui-seperator-neutral-lc underline-offset-4 hover:text-text-neutral-hc focus-visible:ring-2 focus-visible:ring-ui-neutral-focus-ring focus-visible:ring-offset-2"
	{...otherProps}
>
	<ArrowLeft className="h-[1em] w-[1em]" />

	<span class="text-inherit"><slot /></span>
</a>
