<footer class="h-footer border-t border-ui-seperator-neutral-lc">
	<div class="mx-auto mt-5 flex max-w-page-content-width items-center">
		<div class="flex w-full max-w-primary-content-width flex-wrap items-center justify-between gap-2">
			<p class="text-sm text-text-neutral-hc">Abhushan Adhikari Joshi, sending love from India 💓</p>
		</div>
	</div>
</footer>
