<footer class="h-footer border-t border-ui-seperator-neutral-lc">
	<div class="max-w-page-content-width mx-auto mt-5 flex items-center">
		<div class="max-w-primary-content-width flex w-full flex-wrap items-center justify-between gap-2">
			<p class="text-sm text-text-neutral-hc">Abhushan Adhikari Joshi, sending love from India 💓</p>
		</div>
	</div>
</footer>
