---
/**
 * TODO: Enable theme toggle back again
 */
// import ThemeToogle from '@/components/astro/theme-toggle/index.astro';
import { NavLink } from '@/components/react/link/navigation';

import { getUriFromSlug, getUrlFromUri } from '@/lib/url';

const currentPath = Astro.url.pathname;

const navLinks = [
	{
		href: getUrlFromUri(getUriFromSlug()),
		name: 'home',
		title: "Visit Abhushan's home page",
		active: currentPath === '/'
	},
	{
		href: getUrlFromUri(getUriFromSlug('blog')),
		name: 'blog',
		title: "Visit Abhushan's blog page",
		active: currentPath.includes('/blog')
	},
	{
		href: getUrlFromUri(getUriFromSlug('recreates')),
		name: 'recreates',
		title: "Visit Abhushan's recreates page",
		active: currentPath.includes('/recreates')
	}
];
---

<header class="mx-auto max-w-page-content-width">
	<nav class="flex h-navbar w-full max-w-primary-content-width items-center justify-between gap-4">
		<ul class="flex items-center gap-4">
			{
				navLinks.map((navLink) => (
					<li>
						<NavLink href={navLink.href} title={navLink.title} active={navLink.active}>
							{navLink.name}
						</NavLink>
					</li>
				))
			}
		</ul>

		<!-- <ThemeToogle /> -->
	</nav>
</header>
