---
import { NavLink } from '@/components/react/link/navigation';
import { ThemeToogle } from '@/components/react/theme-toggle';

const currentPath = Astro.url.pathname;

const navLinks = [
	{
		href: '/',
		name: 'home',
		title: "Visit Abhushan's home page",
		active: currentPath === '/'
	},
	{
		href: '/blog',
		name: 'blog',
		title: "Visit Abhushan's blog page",
		active: currentPath.includes('/blog')
	}
];
---

<nav
	class="mx-auto flex h-[var(--page-navbar-height)] max-w-[var(--primary-content-width)] items-center justify-between gap-4"
>
	<ul class="flex items-center gap-4">
		{
			navLinks.map((navLink) => (
				<li>
					<NavLink href={navLink.href} title={navLink.title} active={navLink.active}>
						{navLink.name}
					</NavLink>
				</li>
			))
		}
	</ul>

	<ThemeToogle client:load />
</nav>
