---
import BlurSegment from './_blur-segment.astro';
import Config from './_config.astro';
import Fonts from './_fonts.astro';
import Footer from './_footer.astro';
import Navbar from './_navbar.astro';
import Theme from './_theme.astro';
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<slot name="head" />
		<slot name="schema" />

		<!-- Custom Fonts And Fallbacks -->
		<Fonts />
		<!-- Layout Theme Styles -->
		<Theme />
		<!-- Layout Config -->
		<Config />
	</head>
	<body class="min-h-full w-full antialiased">
		<BlurSegment />
		<Navbar />
		<slot>
			<p>This is fallback content for slots, please pass something as children into the layout</p>
		</slot>
		<Footer />
	</body>
</html>
